//
//  qa.xcconfig
//  Runner
//
//  Created by Boris-Wilfried Nyasse on 07/04/2020.
//  Copyright © 2020 The Chromium Authors. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Generated.xcconfig"
BUNDLE_ID_SUFFIX=.qa
PRODUCT_BUNDLE_IDENTIFIER=com.stacklabs.FlutterBreakingNews.qa
FLUTTER_TARGET=lib/main_qa.dart
APP_NAME=[qa] SL-News
